.app_dark_theme {
    --bg-color: #590d22;
    --inverted-bg-color: #fff0f3;
    --primary-color: #ffccd5;
    --secondary-color: #ffb3c1;
    --inverted-primary-color: #a4133c;
    --inverted-secondary-color: #c9184a;
    --error-color: #ff2a51;
    --error-full-color: #ff002f;
}
