:root {
    --bg-color: #fff0f3;
    --inverted-bg-color: #590d22;
    --primary-color: #a4133c;
    --secondary-color: #c9184a;
    --inverted-primary-color: #ffccd5;
    --inverted-secondary-color: #ffb3c1;
}
